@page "/todo"
@inherits MainBase

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Http;
@attribute [Authorize]

@if (Items == null)
{
    <h3>Loading</h3>
}
else
{

    <div class="text-end">
        <button type="submit" class="btn btn-danger" @onclick="Logout">logout</button>
    </div>

    <section class="vh-100" style="background-color: #ffff;">
        <div class=" py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-4">

                            <h3 class="text-center my-3 pb-3">To Do App</h3>

                            <form @onsubmit=Add class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <input type="text" id="todo"  @bind="additem" />
                                        
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-success" >Add</button>
                                </div>
                                

                                
                            </form>
                            <div class="text-xl-center">
                                    <h4 class="my-3"> Todos: @Items.Count(t=> !t.IsDone)</h4>
                                </div>
                            <table class="table mb-4">

                                <thead>

                                    <tr>

                                        <th scope="col">Todo item</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var todo in Items)
                                    {
                                        <tr>





                                            <td><input class="border-0" @bind="todo.Title" /></td>
                                            <td>
                                                <label class="container">
                                                <input type="checkbox" @bind="todo.IsDone">
                                                <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-danger" @onclick=@(() => Delete(todo.Id))>Delete</button>
                                                <button type="submit" class="btn btn-success ms-1" @onclick=@(() => Edit(todo))>SaveChanges</button>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





}

@*@page "/todo"
@using Microsoft.AspNetCore.Authorization;
@inherits TodoBase
@attribute [Authorize]

<button type="button" @onclick="Add">Add </button>
<input @bind="additem"/>
@if ( Items == null)
{
    <h3>Loading</h3>
}
else
{
    <ol>
        @foreach (var todo in Items)
        {
                <li>
                    <input type="checkbox" @bind="todo.IsDone" />
                    <input @bind="todo.Title" />
                    <button @onclick=@(() => Edit(todo))>Edit </button>
                    <button @onclick=@(() => Delete(todo.Id))>Delete </button>

                </li>
        }
    </ol>
    <button class="btn btn-danger" @onclick="Logout"> Logout</button>
}
*@